<svg
  width="60.119mm"
  height="11.076mm"
  version="1.1"
  viewBox="1 1 59.241 10.218"
  xmlns="http://www.w3.org/2000/svg"
>
  <defs>
    <clipPath id="clipPath16">
      <path d="m0 38h38v-38h-38z" />
    </clipPath>
  </defs>
  <g transform="translate(-49.754 -142.39)">
    <g transform="matrix(.33073 0 0 -.33073 50.093 154.62)" clip-path="url(#clipPath16)">
      <path
        d="m35.347 20.107-8.899 3.294-3.323 10.891c-0.128 0.42-0.516 0.708-0.956 0.708-0.439 0-0.828-0.288-0.956-0.708l-3.322-10.891-8.9-3.294c-0.393-0.146-0.653-0.52-0.653-0.938s0.26-0.793 0.653-0.937l8.896-3.293 3.323-11.223c0.126-0.425 0.516-0.716 0.959-0.716s0.833 0.291 0.959 0.716l3.324 11.223 8.896 3.293c0.392 0.144 0.652 0.519 0.652 0.937s-0.26 0.792-0.653 0.938"
        fill="#aa8ed6"
      />
      <path
        d="m15.347 9.1064-2.313 0.856-0.9 3.3c-0.119 0.436-0.514 0.738-0.965 0.738s-0.846-0.302-0.965-0.738l-0.9-3.3-2.313-0.856c-0.393-0.145-0.653-0.52-0.653-0.937 0-0.418 0.26-0.793 0.653-0.938l2.301-0.853 0.907-3.622c0.111-0.444 0.511-0.756 0.97-0.756 0.458 0 0.858 0.312 0.97 0.756l0.907 3.622 2.301 0.853c0.393 0.145 0.653 0.52 0.653 0.938 0 0.417-0.26 0.792-0.653 0.937"
        fill="#fcab40"
      />
      <path
        d="m11.009 30.769-2.365 0.875-0.875 2.365c-0.146 0.393-0.52 0.653-0.938 0.653-0.419 0-0.793-0.26-0.938-0.653l-0.876-2.365-2.364-0.875c-0.393-0.146-0.653-0.52-0.653-0.938s0.26-0.792 0.653-0.938l2.364-0.875 0.876-2.365c0.145-0.393 0.519-0.653 0.938-0.653 0.418 0 0.792 0.26 0.938 0.653l0.875 2.365 2.365 0.875c0.393 0.146 0.653 0.52 0.653 0.938s-0.26 0.792-0.653 0.938"
        fill="#5dadec"
      />
    </g>
    <path
      transform="matrix(.26458 0 0 .26458 49.755 142.04)"
      d="m63.877 14.496c-0.896 0-1.7717 0.20403-2.625 0.60938-0.85333 0.384-1.6102 0.99222-2.2715 1.8242l-0.25586-1.8887h-4.4473v24.096l5.0547-0.54297v-7.7773c1.0453 1.1733 2.4222 1.7598 4.1289 1.7598 1.3653 0 2.56-0.38434 3.584-1.1523 1.024-0.78934 1.8026-1.8651 2.3359-3.2305 0.55467-1.3867 0.83203-2.9557 0.83203-4.7051 0-2.8373-0.52302-5.0444-1.5684-6.623-1.0453-1.5787-2.6342-2.3691-4.7676-2.3691zm28.736 0c-1.7067 0-3.1906 0.37444-4.4492 1.1211-1.2373 0.74668-2.1962 1.8027-2.8789 3.168-0.66133 1.344-0.99219 2.923-0.99219 4.7363 0 2.8587 0.73503 5.0875 2.207 6.6875 1.4933 1.5787 3.532 2.3672 6.1133 2.3672 1.7067 0 3.1787-0.37246 4.416-1.1191 1.2587-0.74666 2.2176-1.7927 2.8789-3.1367 0.68266-1.3653 1.0254-2.9543 1.0254-4.7676 0-2.8587-0.73699-5.0776-2.209-6.6562-1.472-1.6-3.5087-2.4004-6.1113-2.4004zm21.279 0c-1.0453 0-1.9943 0.21397-2.8476 0.64062-0.832 0.42668-1.6106 1.0666-2.3359 1.9199l-0.35156-2.0156h-4.416v16.992h5.0547v-11.617c0.93866-1.472 1.9213-2.207 2.9453-2.207 0.53333 0 0.92759 0.17038 1.1836 0.51172 0.27733 0.32 0.41602 0.90642 0.41602 1.7598v11.553h5.0566v-12.416c0-1.6213-0.41605-2.8813-1.248-3.7773s-1.985-1.3438-3.457-1.3438zm15.873 0c-1.7067 0-3.1906 0.37444-4.4492 1.1211-1.2373 0.74668-2.1962 1.8027-2.8789 3.168-0.66133 1.344-0.99218 2.923-0.99218 4.7363 0 2.8587 0.73503 5.0875 2.207 6.6875 1.4933 1.5787 3.5319 2.3672 6.1133 2.3672 1.7067 0 3.1787-0.37246 4.416-1.1191 1.2587-0.74666 2.2176-1.7927 2.8789-3.1367 0.68267-1.3653 1.0234-2.9543 1.0234-4.7676 0-2.8587-0.73503-5.0776-2.207-6.6562-1.472-1.6-3.5087-2.4004-6.1113-2.4004zm39.584 0c-1.0453 0-1.9963 0.21397-2.8496 0.64062-0.832 0.42668-1.6106 1.0666-2.3359 1.9199l-0.35157-2.0156h-4.416v16.992h5.0566v-11.617c0.93867-1.472 1.9194-2.207 2.9434-2.207 0.53333 0 0.92759 0.17038 1.1836 0.51172 0.27734 0.32 0.41602 0.90642 0.41602 1.7598v11.553h5.0566v-12.416c0-1.6213-0.41605-2.8813-1.248-3.7773s-1.9831-1.3438-3.4551-1.3438zm14.496 0c-1.3867 0-2.615 0.23574-3.6816 0.70508-1.0453 0.448-1.8556 1.0662-2.4316 1.8555-0.55467 0.768-0.83204 1.6417-0.83204 2.623 0 1.3013 0.41605 2.391 1.248 3.2656 0.832 0.87466 2.0901 1.5562 3.7754 2.0469 1.0667 0.29858 1.8472 0.55416 2.3379 0.76758 0.49068 0.19208 0.81958 0.40604 0.99024 0.64062 0.17065 0.23466 0.25586 0.5556 0.25586 0.96094 0 0.512-0.22388 0.90625-0.67188 1.1836-0.42667 0.27732-1.023 0.41602-1.791 0.41602-1.5787 0-3.0824-0.55475-4.5117-1.6641l-2.4648 2.752c0.85333 0.78934 1.8875 1.4075 3.1035 1.8555 1.2373 0.448 2.5707 0.67188 4 0.67188 1.408 0 2.6898-0.22388 3.8418-0.67188s2.0574-1.0879 2.7188-1.9199c0.66133-0.85334 0.99218-1.8558 0.99218-3.0078 0-1.4507-0.43783-2.5819-1.3125-3.3926-0.85333-0.832-2.1649-1.5036-3.9355-2.0156-1.024-0.29858-1.7808-0.55416-2.2715-0.76758-0.49067-0.21332-0.82153-0.41542-0.99219-0.60742-0.14934-0.21334-0.22461-0.48078-0.22461-0.80078 0-0.40524 0.17039-0.71432 0.51172-0.92773 0.36267-0.23458 0.87578-0.35156 1.5371-0.35156 1.408 0 2.8047 0.43586 4.1914 1.3105l1.8555-2.8477c-0.81066-0.66132-1.7478-1.1725-2.8145-1.5352-1.0667-0.36266-2.2078-0.54492-3.4238-0.54492zm-101.25 0.06445c-0.98133 0-1.8669 0.34075-2.6562 1.0234-0.768 0.66132-1.3445 1.5786-1.7285 2.752l-0.41602-3.2949h-4.416v16.992h5.0566v-8.416c0.29867-1.3867 0.70284-2.4208 1.2148-3.1035 0.53333-0.704 1.302-1.0566 2.3047-1.0566 0.384 0 0.89516 0.07519 1.5352 0.22461l0.80078-4.8965c-0.512-0.14942-1.0766-0.22461-1.6953-0.22461zm125.28 0.22461c-1.5147 0-2.8262 0.37248-3.9356 1.1191-1.088 0.74668-1.932 1.7927-2.5293 3.1367-0.59734 1.344-0.89453 2.9111-0.89453 4.7031 0 2.7093 0.64983 4.8331 1.9512 6.3691 1.3227 1.536 3.1256 2.3027 5.4082 2.3027 1.8987 0 3.6163-0.61815 5.1523-1.8555l-1.3438-1.9199c-0.68268 0.4479-1.3028 0.77877-1.8574 0.99219-0.55466 0.192-1.1629 0.28711-1.8242 0.28711-1.3867 0-2.4525-0.50125-3.1992-1.5039-0.74666-1.024-1.1191-2.603-1.1191-4.7363s0.37248-3.7421 1.1191-4.8301c0.768-1.088 1.8339-1.6328 3.1992-1.6328 0.68266 0 1.3027 0.1069 1.8574 0.32031 0.576 0.192 1.1624 0.50105 1.7598 0.92774l1.4082-1.8555c-0.768-0.64-1.5684-1.0996-2.4004-1.377-0.832-0.29866-1.7493-0.44727-2.752-0.44727zm14.656 0c-1.5147 0-2.8262 0.37248-3.9356 1.1191-1.088 0.74668-1.932 1.7927-2.5293 3.1367-0.59731 1.344-0.89648 2.9111-0.89648 4.7031 0 2.7093 0.65181 4.8331 1.9531 6.3691 1.3227 1.536 3.1256 2.3027 5.4082 2.3027 1.8986 0 3.6163-0.61815 5.1523-1.8555l-1.3457-1.9199c-0.68266 0.4479-1.3008 0.77877-1.8555 0.99219-0.55469 0.192-1.1629 0.28711-1.8242 0.28711-1.3867 0-2.4526-0.50125-3.1992-1.5039-0.74666-1.024-1.1211-2.603-1.1211-4.7363s0.37443-3.7421 1.1211-4.8301c0.768-1.088 1.8339-1.6328 3.1992-1.6328 0.68266 0 1.3028 0.1069 1.8574 0.32031 0.576 0.192 1.1624 0.50105 1.7598 0.92774l1.4082-1.8555c-0.768-0.64-1.5684-1.0996-2.4004-1.377-0.832-0.29866-1.7493-0.44727-2.752-0.44727zm-81.6 0.25586v12.191c0 1.6853 0.39426 2.9969 1.1836 3.9355 0.81067 0.93868 1.9934 1.4082 3.5508 1.4082 2.1973 0 3.915-0.8955 5.1524-2.6875l0.22461 2.1445h4.3848v-16.992h-5.0566v11.809c-0.768 1.3227-1.6853 1.9824-2.752 1.9824-0.55467 0-0.97072-0.15852-1.248-0.47852-0.256-0.34134-0.38477-0.92777-0.38477-1.7598v-11.553h-5.0547zm-78.656 3.168c0.896 0 1.5676 0.39425 2.0156 1.1836 0.448 0.768 0.67188 2.1548 0.67188 4.1602 0 3.5413-1.0124 5.3125-3.0391 5.3125-1.0453 0-1.9111-0.50125-2.5938-1.5039v-7.168c0.384-0.64 0.82183-1.1313 1.3125-1.4727 0.512-0.34134 1.0568-0.51172 1.6328-0.51172zm30.336 0c1.0453 0 1.8121 0.42596 2.3027 1.2793 0.512 0.85334 0.76953 2.2085 0.76953 4.0645 0 1.8133-0.25753 3.1566-0.76953 4.0312-0.512 0.85332-1.2787 1.2812-2.3027 1.2812-1.0453 0-1.8239-0.42793-2.3359-1.2812-0.49067-0.85334-0.73633-2.2065-0.73633-4.0625 0-1.8133 0.25558-3.1467 0.76758-4 0.512-0.87468 1.2807-1.3125 2.3047-1.3125zm37.152 0c1.0453 0 1.8121 0.42596 2.3027 1.2793 0.512 0.85334 0.76758 2.2085 0.76758 4.0645 0 1.8133-0.25558 3.1566-0.76758 4.0312-0.512 0.85332-1.2787 1.2812-2.3027 1.2812-1.0453 0-1.8239-0.42793-2.3359-1.2812-0.49067-0.85334-0.73633-2.2065-0.73633-4.0625 0-1.8133 0.25558-3.1467 0.76758-4 0.512-0.87468 1.2807-1.3125 2.3047-1.3125zm65.318 9.7598c-0.59354 0.01292-1.0984 0.2273-1.5117 0.64062-0.42666 0.42666-0.63867 0.94968-0.63867 1.5684 0 0.61866 0.21201 1.1516 0.63867 1.5996 0.42666 0.42666 0.94967 0.63867 1.5684 0.63867 0.64 0 1.173-0.21201 1.5996-0.63867 0.42666-0.448 0.64062-0.98095 0.64062-1.5996 0-0.61868-0.21396-1.1417-0.64062-1.5684s-0.95961-0.64062-1.5996-0.64062c-0.0193 0-0.0375-4.17e-4 -0.0566 0z"
      fill="currentColor"
    />
  </g>
</svg>
